<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Lexrunit, an AI deployment company that focuses on solving the world problems utilizing AI. Beyond bringing AI to the fingertips of daily users, Lexrunit aims to accelerate AI research in Africa. With it maiden product, LexCare, it launches into health healthcare, saving lives and promoting efficieny.">
  <meta name="author" content="Lexrunit">
  <meta property="og:image" content="https://www.lexrunit.xyz/static/images/cropped.png">
  <meta property="og:image:height" content="630">
  <meta property="og:image:width" content"1200">
  <meta property="og:image:alt" content="Lexrunit">
  <meta property="og:title" content="Lexrunit">
  <meta property="og:description" content="Lexrunit, an AI deployment company that focuses on solving the world problems utilizing AI. Beyond bringing AI to the fingertips of daily users, Lexrunit aims to accelerate AI research in Africa. With it maiden product, LexCare, it launches into health healthcare, saving lives and promoting efficieny.">
  
  <title>Lexrunit / 500 Internal Server Error</title>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">     
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <link rel="stylesheet" href="../static/Lex.css">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
  <link rel="apple-touch-icon" sizes="180x180" href="../static/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="../static//favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../static/favicon-16x16.png">
  <link rel="manifest" href="../static/site.webmanifest">
</head>
<body>
  <div class="landing-page">
    <div class="left-content">
      <img src="../static/images/lexrunitlogo dark blue.png" alt="Lexrunit Logo" class="logo">
      <div class="landingpage-content">
        <h1 class="landingpage-maintext">Are the robots sleeping? <br>Sorry, you encountered an internal Server Error</h1>
        <p class="landingpage-subtext">What if robots dream of electric sheep?<br>Contact our Developers to rectify your issues, hopefully, they are not robots. We will surely respond withing 12 hours and 3-6 hours for messages taggged emergency.<br>A bientot.</p>
        <button href="contact@lexrunit.xyz" class="cta-button">Contact here</button>
      </div>
    </div>

  <footer>
    <div class="footer-container">
      <div class="footer-section">
        <h4>Company</h4>
        <ul>
          <li>About Us</li>
          <li>Career</li>
          <li>Partner</li>
          <li>Contact Us</li>
        </ul>
      </div>
      <div class="footer-section">
        <h4>Resources</h4>
        <ul>
          <li>Blogs</li>
          <li>News</li>
          <li>Tech Briefs</li>
          <li>Case Studies</li>
          <li>Sales</li>
          <li>Webinars</li>
          <li>Videos</li>
        </ul>
      </div>
      <div class="footer-section">
        <h4>Products</h4>
        <ul>
          <li>LexCare</li>
        </ul>
      </div>
      <div class="footer-section">
        <h4>Subscribe</h4>
        <div class="subscribe-container">
          <input type="email" name="email" placeholder="Enter email address">
          <button type="submit" name = "subscribe">Subscribe</button>
        </div>
      </div>
    </div>
    
    <hr>
  
    <div class="footer-socials">
      <a href="https://youtube.com/@lexrunit?si=sGrsmlo2Xjfb5t9W" target="_blank" class="social-icon youtube">
        <i class="fab fa-youtube"></i>
      </a>
      <a href="https://x.com/lexrunit" target="_blank" class="social-icon twitter">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://www.linkedin.com/feed/update/urn:li:activity:7245629889347764224" target="_blank" class="social-icon linkedin">
        <i class="fab fa-linkedin-in"></i>
      </a>
      <a href="https://www.instagram.com/lexrunit?igsh=YzljYTk1ODg3Zg==" target="_blank" class="social-icon instagram">
        <i class="fab fa-instagram"></i>
      </a>
    </div>
  </footer>

  <button id="themeSwitcher" style="position: fixed; bottom: 80px; right: 20px; background-color: #c5ecf4; color: #021488; border: none; padding: 10px; border-radius: 5px; cursor: pointer;">
    Dark/Light Mode
  </button>


  <script src="../static/Lex.js"></script>

</body>
</html>
